name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          check-latest: true

      - name: check golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.7
          args: --verbose

  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
    - name: Start Redis
      uses: supercharge/redis-github-action@v2
      with:
        redis-version: 6

    - name: MongoDB in GitHub Actions
      uses: supercharge/mongodb-github-action@1.12.1
      with:
        mongodb-version: 4.4
        mongodb-replica-set: test-rs
        mongodb-port: 27017

    - name: check mongo
      run: docker exec -t mongodb mongo localhost:27017 --eval "db.test.find()"

    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: ^1.19

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Build
      run: make

    - name: TestQueueCommentDBCS
      run: go test -v ./... -run TestQueueCommentDBCS -tags queue

    - name: Testing
      run: make test
      env:
        TAGS: noqueue

    - name: Upload coverage report
      uses: codecov/codecov-action@v5
